:root {
  --base: 10px;
  --xs: calc(var(--base) * 0.5); /* 5 */
  --sm: calc(var(--base) * 1);   /* 10 */
  --md: calc(var(--base) * 1.5); /* 15 */
  --lg: calc(var(--base) * 2.5); /* 25 */
  --xl: calc(var(--base) * 4);   /* 40 */
  --xx: calc(var(--base) * 6.5); /* 65 */

  --color-table-blue: #06c;
  --color-table-row: #eeeeee;
}

